{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block header %}

<div style="background: url(https://images.pexels.com/photos/848612/pexels-photo-848612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);height: 75vh; background-repeat: no-repeat;  background-size: cover;" class="jumbotron bg-cover text-white mb-4 bgimg">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Bienvenue sur SnowTricks </h1>
        <p class="font-italic mb-0">Le premier site communautaire pour les amateurs de snowboard</p>
        <p class="font-italic">Créé par
            <a href="https://github.com/Daddypro21/SnowTricks.git" class="text-white text-decoration-none">
                <u class="text-decoration-none">Slim Ndema M " Daddypro21"</u>
            </a>
        </p>
         <a class="btn btn-dark px-5" target="_blank" href="https://github.com/Daddypro21/SnowTricks.git" role="button">GitHub <i class="fab fa-github ms-2"></i></a>
    </div>
</div>


{% endblock %}



{% block body %}




 {% if tricks|length > 0 %}
        <div class=" item-container">
        
            {% for trick in tricks.data %}
               
                 <div class="item ">
                    <article class="bg-white rounded shadow"> 
                        <h5 class="text-center pt-2 pb-2"><a href="{{ path('app_tricks_show', {slug:trick.newslug,id: trick.id}  )}}" class=" text-lowercase text-decoration-none text-muted ">{{ trick.title}}</a></h5>
                        <a href="{{ path('app_tricks_show', {slug:trick.newslug,id: trick.id} )}}"><img src="{{trick.cover ? asset('uploads/images/' ~ trick.cover) : asset('images/placeholder.jpg') }}" alt="{{ trick.title }}" class="img-pin-index w-100 rounded-top"></a>
                        <p class="mt-2 ms-2" ><small class="text-muted  ">Publié il y a de cela {{ trick.createdAt|ago}}</small></p>
                        <p class="mt-2 ms-2" ><small class="text-muted  ">par {{ trick.user.firstName}} {{ trick.user.lastName}}</small></p>

                        <a href="{{ path('app_tricks_show', {slug:trick.newslug  ,id: trick.id} )}}" class="btn btn-primary btn-sm sm-2 mb-2 ms-2" type="button"><i class="fa-solid fa-eye"></i></a>
                       
                     </article>  
                </div>
                  
            {% endfor %}
            
            
            
           </div>

        {% set path = 'app_home' %}
        {% set pages = tricks.pages %}
        {% set currentPage = tricks.page %}
        {{include("trick/pagination.html.twig") }}
 {% else %}
 <h2 class='h1 text-center mt-5'> pas de trick #0 <a href="{{ path('app_tricks_create')}}">soyez le premier à créer un trick</a></h2>
{% endif %} 



{% endblock %}