{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
 <h1 class="text-center" >Bienvenue sur SnowTricks</h1>
{% if tricks|length > 0 %}
    {% for row in tricks|batch(3) %}
        <div class="row mb-5">
            {% for trick in row %}
                <div class="col-md-4">
                    <article class="bg-white rounded shadow">
                        <h2><a href="{{ path('app_tricks_show', {id: trick.id} )}}">{{ trick.title}}</a></h2>
                        {# <a href="{{ path('app_tricks_show', {id: trick.id} )}}"><img src="{{trick.imageName ? vich_uploader_asset(trick) : asset('images/placeholder.jpg') }}" alt="{{ trick.title }}" class="img-pin-index w-100 rounded-top"></a> #}
                        <p class="mt-2">{{ trick.description|u.truncate(8, '...') }}</p>
                        <a href="#"  class="btn btn-danger" onclick=" event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-form-delete-{{trick.id}}').submit();"> delete </a>
                        <form method="POST" id="js-pin-form-delete-{{trick.id}}" action=" {{path('app_tricks_delete',{id: trick.id })}}"  style="Display:none;">
                            <input type="hidden" name="csrf_token" value="{{csrf_token('trick_delete_' ~ trick.id)}}">
                            <input type="hidden" name="#">
                        </form>
                        {# <p>Publié il y'a de cela {{ trick.createdAt|ago}} par {{ trick.user.firstName}}</p> #}
                    </article>
                </div>

            {% endfor %}
        </div>
    {% endfor %}
 {% else %}
 <h2 class='h1 text-center mt-5'> pas de trick #0 <a href="{{ path('app_tricks_create')}}">soyez le premier à créer un trick</a></h2>
{% endif %}
{% endblock %}
