{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block header %}

<div style="background: url(https://images.pexels.com/photos/848612/pexels-photo-848612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);height: 100vh;" class="jumbotron bg-cover text-white mb-4 bgimageheader">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Bienvenue sur SnowTricks </h1>
        <p class="font-italic mb-0">Le premier site communautaire pour les adeptes de snowboard</p>
        <p class="font-italic">Créer par
            <a href="https://github.com/Daddypro21/SnowTricks.git" class="text-white">
                <u>Slim Ndema M " Daddypro21"</u>
            </a>
        </p>
        <a href="https://github.com/Daddypro21/SnowTricks.git" role="button" class="btn btn-primary px-5">Voir le dépot github</a>
    </div>
</div>


{% endblock %}
{% block body %}
{% if tricks|length > 0 %}
    {% for row in tricks|batch(3) %}
        <div class="row mb-5">
            {% for trick in row %}
                <div class="col-md-4">
                    <article class="bg-white rounded shadow">
                        <h2><a href="{{ path('app_tricks_show', {id: trick.id} )}}">{{ trick.title}}</a></h2>
                        <a href="{{ path('app_tricks_show', {id: trick.id} )}}"><img src="{{trick.images ? asset('uploads/images/' ~ trick.images) : asset('images/placeholder.jpg') }}" alt="{{ trick.title }}" class="img-pin-index w-100 rounded-top"></a>
                        <p class="mt-2">{{ trick.description|u.truncate(8, '...') }}</p>
                        <p><small class="text-muted">Publié il y'a de cela {{ trick.createdAt|ago}} par {{ trick.user.firstName}}</small></p>
                    </article>
                </div>

            {% endfor %}
        </div>
    {% endfor %}
 {% else %}
 <h2 class='h1 text-center mt-5'> pas de trick #0 <a href="{{ path('app_tricks_create')}}">soyez le premier à créer un trick</a></h2>
{% endif %}
{% endblock %}
