{% extends 'base.html.twig' %}

{% block title %}detail-{{ trick.title }} {% endblock %}

{% block body %}

{% if trick.cover is not null %}
    <div class="container image-back mt-5 bg-white rounded shadow ps-4 pt-2" style="background :url({{trick.cover ? asset('uploads/images/' ~ trick.cover) : asset('images/placeholder.jpg') }});height: 75vh;background-repeat: no-repeat;  background-size: cover;">
        
        
    </div>
{% endif %}
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-sm-12 col-md-6 bg-white rounded shadow ps-2 pe-2 pt-2 pb-2">
            <img src="{{trick.images ? asset('uploads/images/' ~ trick.images) : asset('images/placeholder.jpg') }}" alt="{{ trick.title }}" class="w-100 rounded-top">
            </div>
            {% if trick.video is not null %}
            <div class="col-sm-12 col-md-6">
            <iframe title="YouTube video player" src="https://www.youtube.com/embed/{{trick.video }}"  frameborder="0" allowfullscreen></iframe>
            </div>
            {% else %}
            <div class="col-sm-12 col-md-6">
              <p class=" mt-5 me-5 text-muted">Ce trick n'a pas de vidéo</p>
            </div>
            {% endif %}

        </div>
        <p class="text-center mt-4 mb-4">{{ trick.title }}</p>
 </div>
    <div class=" show-block mt-2">
        <article class="  bg-white rounded shadow ps-2 pe-2">
        <p class="pt-5 text-break ms-2 show-paragraphe">{{ trick.description }}</p>
        <p> <small class="text-muted ms-2 show-publishtime">Publié il y a de cela {{ trick.createdAt|ago}} par {{ trick.user.firstName}} {{ trick.user.lastName}}</small></p>
        {% if trick.user.email != null %}
        {% if (emailUser != null) and (emailUser is same as(trick.user.email)) %}
        <a href="{{ path('app_tricks_edit',{id: trick.id })}}" type="button" class="btn btn-secondary btn-sm ms-2 mb-2">Edit </a>
        <a href="#" onclick=" event.preventDefault(); confirm('Voulez vous vraiment supprimer ce trick ?') && document.getElementById('js-pin-form-delete').submit();" class="btn btn-secondary btn-sm sm-2 mb-2" type="button"> delete  </a>
        <a href="{{ path('app_home')}}" class="btn btn-secondary btn-sm sm-2 mb-2" type="button">Retour</a>

        <form method="POST" id="js-pin-form-delete" action=" {{path('app_tricks_delete',{id: trick.id })}}"  style="Display:none;">
            <input type="hidden" name="csrf_token" value="{{csrf_token('trick_delete_' ~ trick.id)}}">
            <input type="hidden" name="#">
        </form>
        {% endif %}
        {% endif %}
        </article>
        
    </div>
    
{% if app.user.email is defined %}
<div class="mt-5 show-commentaire">
<div class="row">
<div class="col-md-6 mx-auto">
    
        {{ form_start(formulaire) }}

        {{form_widget(formulaire)}}
        <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="commentaire" class="btn btn-primary btn-block"/>
        </div>
        {{ form_end(formulaire) }}
    
</div>
</div>
</div>
{% else %}
    <div class="bg-info pt-3 pb-3"><p class="text-center" >Vous devrez vous connecter pour commenter </p></div>
{% endif %}
<div class="mt-5 show-commentaires">
<div class="row">
<div class="col-md-6 mx-auto">

<h3 class=" text-center"> Commentaires</h3>

{% if allComment|length > 0 %}
            {% for comment in allComment %}       
                <h5>{{comment.user.firstName}} {{comment.user.lastName}}</h5>
                <p class="mt-2 text-break">{{ comment.content}}</p>
                <p class="text-muted">posté il y a de cela {{ comment.createdAt|ago}} par {{ comment.user.firstName}} </p>                   
            {% endfor %}
 {% else %}
 <h2 class='h1 text-center mt-5 '> pas de commentaire </h2>
{% endif %}
</div>
</div>
</div>
 

{% endblock %}
