{% extends 'base.html.twig' %}

{% block title %}detail-{{ trick.title }} {% endblock %}

{% block body %}
    <div class="container-fluid bg-dark pt-5 pb-5">
    <div class="container image-back mt-5 ps-4 pt-2 bg-white rounded shadow ps-2 pe-2" style="background :url({{trick.cover ? asset('uploads/images/' ~ trick.cover) : asset('images/placeholder.jpg') }});height: 75vh;background-repeat: no-repeat;  background-size: cover;">
        <div class="container py-5 text-center ">
            <h1 class=" font-weight-bold text-white ">{{trick.title}}</h1>
        </div>
    </div>
    </div>
    {# .................... #}

    <div class="container">

{# ....... button pour créer un nouveau paper .......#}


<div class="dropdown mb-3 mt-5">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton2"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
  >
    Videos
  </button>
  <ul class="dropdown-menu dropdown-menu-light pe-5 ps-2 pt-5 pb-5" aria-labelledby="dropdownMenuButton2">

{% if trick.videos|length > 0 %}
    <div class="container"> 
        <div class="row">
            {% for video in trick.videos %}  
                <div class="col-md-6  col-sm-12 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="card-text"><iframe width="200" height="200" src="https://www.youtube.com/embed/{{video.platformId}}" ></iframe></p>
                        </div>

                    </div>

                </div>
            {% endfor %}
            
        </div>
       
    </div>
         {% endif %}
  </ul>
   
</div>
{# ............ #}


</div>

    {# ..................... #}
    <div class="container mt-4 mb-4">
        {% if trick.images|length > 0 %}
        <div class=" item-container">
        
            {% for image in trick.images %}
                
                <div class="item ">
                     <article class="bg-white rounded shadow"> 
                        <img  src="{{image.filename ? asset('uploads/' ~ image.filename) : asset('images/placeholder.jpg') }}" alt="{{ trick.title }}" class="rounded-top d-block w-100">
                     </article>
                     {% if (emailUser != null) and (emailUser is same as(trick.user.email)) %}
                    <p class="ps-5">
                        <a href="#" onclick=" event.preventDefault(); confirm('Voulez vous vraiment supprimer ce trick ?') && document.getElementById('js-pin-form-delete').submit();" class="btn btn-secondary btn-sm sm-2 mb-2 mt-2" type="button"> delete  </a>
                        <a href="{{ path('app_tricks_modif',{id: image.id })}}" type="button" class="btn btn-secondary btn-sm ms-2 mb-2 ">Edit </a>
                    </p>
                     <form method="POST" id="js-pin-form-delete" action=" {{path('app_tricks_supp',{image: image.id,id: trick.id })}}"  style="Display:none;">
                    <input type="hidden" name="csrf_token" value="{{csrf_token('trick_delete_' ~ trick.id)}}">
                    <input type="hidden" name="#">
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>   
        <h4 class="text-center mt-4 mb-4">{{ trick.title }} </h4>

    <div class=" show-block mt-2">
        <article class="  bg-white rounded shadow ps-2 pe-2">
        <p class="pt-5 text-break ms-2 show-paragraphe">{{ trick.description }}</p>
        <p> <small class="text-muted ms-2 show-publishtime"> <b>Auteur</b> : {{ trick.user.firstName}} {{ trick.user.lastName}} | <b>date de publication</b> : {{ trick.createdAt|ago}} </small></p>
        {% if trick.user.email != null %}
        {% if (emailUser != null) and (emailUser is same as(trick.user.email)) %}
        <a href="{{ path('app_tricks_edit',{id: trick.id })}}" type="button" class="btn btn-secondary btn-sm ms-2 mb-2">Edit </a>
        <a href="#" onclick=" event.preventDefault(); confirm('Voulez vous vraiment supprimer ce trick ?') && document.getElementById('js-pin-form-delete').submit();" class="btn btn-secondary btn-sm sm-2 mb-2" type="button"> delete  </a>
        <a href="{{ path('app_home')}}" class="btn btn-secondary btn-sm sm-2 mb-2" type="button">Retour</a>

        <form method="POST" id="js-pin-form-delete" action=" {{path('app_tricks_delete',{id: trick.id })}}"  style="Display:none;">
            <input type="hidden" name="csrf_token" value="{{csrf_token('trick_delete_' ~ trick.id)}}">
            <input type="hidden" name="#">
        </form>
        {% endif %}
        {% endif %}
        </article>
        
    </div>
   
{% if app.user.email is defined  %}
<div class="mt-5 show-commentaire">
<div class="row">
<div class="col-md-6 mx-auto">
    
        {{ form_start(formulaire) }}

        {{form_widget(formulaire)}}
        <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="commentaire" class="btn btn-primary btn-block"/>
        </div>
        {{ form_end(formulaire) }}
    
</div>
</div>
</div>
{% else %}
    <div class=" container bg-info pt-3 pb-3 mt-5"><p class="text-center" >Vous devrez vous connecter pour commenter </p></div>
{% endif %}
<div class="mt-5 show-commentaires">
<div class="row">
<div class="col-md-6 mx-auto">

<h3 class=" text-center"> Commentaires</h3>

{% if allComment|length > 0 %}
            {% for comment in allComment %}       
                <h5>{{comment.user.firstName}} {{comment.user.lastName}}</h5>
                <p class="mt-2 text-break">{{ comment.content}}</p>
                <p class="text-muted">posté il y a de cela {{ comment.createdAt|ago}} par {{ comment.user.firstName}} </p>                   
            {% endfor %}
 {% else %}
 <h2 class='h1 text-center mt-5 '> pas de commentaire </h2>
{% endif %}
</div>
</div>
</div>
 

{% endblock %}
