{% extends 'base.html.twig' %}

{% block title %}detail-trick{% endblock %}

{% block body %}

 <h1 class="text-center mb-5">{{ trick.title}}</h1>
 <div class="row">
    <div class="col-md-8 mx-auto">
        <article class="bg-white rounded shadow ps-2 pe-2">
        <h5 class="text-decoration-none text-center mt-3 mb-3 text-muted">{{ trick.title}}</h5>
        <img src="{{trick.images ? asset('uploads/images/' ~ trick.images) : asset('images/placeholder.jpg') }}" alt="{{ trick.title }}" class="img-trick-index w-100 rounded-top ">
        <p class="pt-5 text-break ms-2">{{ trick.description }}</p>
        <p> <small class="text-muted ms-2">Publié il y'a de cela {{ trick.createdAt|ago}} par {{ trick.user.firstName}} {{ trick.user.lastName}}</small></p>
        {% if trick.user.email != null %}
        {% if (emailUser != null) and (emailUser is same as(trick.user.email)) %}
        <a href="{{ path('app_tricks_edit',{id: trick.id })}}" type="button" class="btn btn-secondary btn-sm ms-2 mb-2">Edit </a>
        {# <button type="button" class="btn btn-secondary btn-sm">Small button</button> #}
        <a href="#" onclick=" event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-form-delete').submit();" class="btn btn-secondary btn-sm sm-2 mb-2" type="button"> delete  </a>
        {# <a href="#" onclick=" event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-form-delete').submit();"> delete | </a> #}
        <a href="{{ path('app_home')}}" class="btn btn-secondary btn-sm sm-2 mb-2" type="button">Retour</a>

        <form method="POST" id="js-pin-form-delete" action=" {{path('app_tricks_delete',{id: trick.id })}}"  style="Display:none;">
            <input type="hidden" name="csrf_token" value="{{csrf_token('trick_delete_' ~ trick.id)}}">
            <input type="hidden" name="#">
        </form>
        {% endif %}
        {% endif %}
        </article>
        
    </div>
</div>
<div class="mt-5">
<div class="row">
<div class="col-md-6 mx-auto">
    {{ form_start(formulaire) }}

    {{form_widget(formulaire)}}
    <div class="d-grid gap-2 col-6 mx-auto">
    <input type="submit" value="commentaire" class="btn btn-primary btn-block"/>
   </div>
 {{ form_end(formulaire) }}
</div>
</div>
</div>

<div class="mt-5">
<div class="row">
<div class="col-md-6 mx-auto">

<h3 class="text-center"> Commentaires</h3>

{% if allComment|length > 0 %}
            {% for comment in allComment %}       
                <h5>{{comment.user.firstName}} {{comment.user.lastName}}</h5>
                <p class="mt-2 text-break">{{ comment.content}}</p>
                <p class="text-muted">posté il y' a de cela {{ comment.createdAt|ago}} par {{ comment.user.firstName}} </p>                   
            {% endfor %}
 {% else %}
 <h2 class='h1 text-center mt-5'> pas de commentaire </h2>
{% endif %}
</div>
</div>
</div>
 

{% endblock %}
